node_modules
npm-debug.log
.sass-cache
local_node_installation
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.ftppass
sftpCache.json
thetis.json
.editorconfig
.remote-sync.json
target
*.iml
/ekstrabladet-publication/thetis.json
.vscode
.rpt2_cache
tsbuilt
tspublic
.classpath
.project
.settings
**/.project
**/*.prefs
.flattened-pom.xml
.DS_Store
results
target
.idea/**
nb-configuration.xml

